.wholepage{
    display: flex;
}
.paragraph1{
    padding: 20px 20px;
}
.paragraph2, .text{
    padding: 10px 20px;
    margin-right: 100px;
}
.h1{
    margin-right: 50px;
    
}
.form{
    padding: 40px 20px;
}
button{
    background-color:orangered;
    font-weight: 700;
}
