* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
}

.navbar {
    margin-top: 30px;
}

ul  {
    background-color: greenyellow;
    list-style: none;
    justify-content: space-between;
    }
ul li{
    display: inline-block;
    position: relative;
    padding: 10px;
}
ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 20px 25px;
}

ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: relative;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: greenyellow;
}

ul li ul li a {
    width: 200px;
}

ul li a:hover {
    background-color: green;
    width: relative;
}

ul li:hover ul.dropdown {
    display: block;
} 

.image{
     padding: 50PX 20PX;
     align-items: center;
     justify-content: space-between;
    
    
}
 .image img{
    width: 100%;
 }

.content p{
    color: yellowgreen;
    display: flex;
    justify-content: center;
   font-weight: 500;
   font-size: larger;
  
}

