body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1837e2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.board-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    text-align: center;
    margin: 20px;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

.member h2 {
    margin-top: 10px;
    color: #333;
}

.member p {
    margin: 5px 0;
    color: #666;
}